@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "About Us";
}

<h2>@ViewData["Title"]</h2>

<p>
    We understand that online learning can be challenging, which is why we offer a range of support services to help our students succeed. Our online tutoring and academic advising services provide personalized support and guidance, while our career counseling services help our students prepare for their future careers.
</p>

<h3>Get in touch!</h3>
<p>This project was written for CIT-365 Winter 2023 semester.</p>
<dl>
    <dt>
        Developer
    </dt>
    <dd>
        John Sudds
    </dd>
    <dt>
        Email
    </dt>
    <dd>
        <a href="mailto:jsuddsjr@hotmail.com">jsuddsjr@hotmail.com</a>
    </dd>
</dl>

<h3>Enrollment stats</h3>
<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>
